/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #8b5cf6;
}

.svg-icon circle {
    stroke: #8b5cf6;
    stroke-width: 1;
}