{% extends 'base.html' %}

{% load static %}
{% block charts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
<script>
    $(document).ready(function(){
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['All Sex', 'All Arguments'],
                datasets: [{
                    label: 'Sex vs Arguments',
                    data: [{{ charts.0.all_sex }}, {{ charts.0.all_arguments }}],
                    backgroundColor: [
                        'rgba(221, 214, 254, 0.2)',
                        'rgba(76, 29, 149, 0.2)',
                    ],
                    borderColor: [
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                title: {
                    display: true,
                    text: 'All Sex versus Arguments So Far!!',
                  }
            }
        });
<!-- Chart 2 -->
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['All Sex', 'Sex YTD', 'Sex Last Month', 'Sex Last Week'],
                datasets: [{
                    label: 'Sex Bifurcation',
                    data: [{{ charts.0.all_sex }}, {{ charts.1.sex_this_year }}, {{ charts.1.sex_past_month }}, {{ charts.1.sex_past_week }}],
                    backgroundColor: [
                    'rgba(76, 29, 149, 0.2)',
                    'rgba(124, 58, 237, 0.2)',
                    'rgba(167, 139, 250, 0.2)',
                    'rgba(221, 214, 254, 0.2)',
                    ],
                    borderColor: [
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    yAxes: [{
                        title: {
                            display: true,
                            text: 'Value'
                          },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 5
                          },
                        scaleLabel: {
                            display: true,
                            labelString: 'Sex Count'
                        },
                    }]
                },
                title: {
                    display: true,
                    text: 'Your Sex History...',
                    font: {
                        size: 40,
                        style: 'italic'
                      },
                  }
            }
        });

        <!-- Chart 3 -->

        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart3 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['All Arguments', 'Arguments YTD', 'Arguments Last Month', 'Arguments Last Week'],
                datasets: [{
                    label: 'Arguments Bifurcation',
                    data: [{{ charts.0.all_arguments }}, {{ charts.2.arguments_this_year }}, {{ charts.2.arguments_past_month }}, {{ charts.2.arguments_past_week }}],
                    backgroundColor: [
                    'rgba(76, 29, 149, 0.2)',
                    'rgba(124, 58, 237, 0.2)',
                    'rgba(167, 139, 250, 0.2)',
                    'rgba(221, 214, 254, 0.2)',
                    ],
                    borderColor: [
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)',
                    'rgba(76, 29, 149, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    yAxes: [{
                        title: {
                            display: true,
                            text: 'Value'
                          },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 5
                          },
                        scaleLabel: {
                            display: true,
                            labelString: 'Arguments Count'
                        },
                    }]
                },
                title: {
                    display: true,
                    text: 'Your Arguments History...',
                    font: {
                        size: 40,
                        style: 'italic'
                      },
                  }
            }
        });

    });
</script>
{% endblock charts %}

{% block content %}
<div class="flex flex-col justify-center items-center mx-auto bg-gradient-to-b from-white to-gray-100 py-0">
    

    <div class="w-full lg:w-1/2 flex mx-auto px-6">
        <canvas id="myChart1" width="200" height="100"></canvas>
    </div>
    <div class="relative w-full lg:w-1/2 flex mx-auto px-6 my-12" style="height: 40vh;">
        <canvas class="container flex mx-auto" id="myChart2" width="300" height="100"></canvas>
    </div>
    <!-- <div class="w-full lg:w-1/2 hidden md:flex mx-auto px-6">
        <canvas class="container flex mx-auto my-24" id="myChart2" width="300" height="100"></canvas>
    </div> -->
    <div class="relative w-full lg:w-1/2 flex mx-auto px-6 my-12" style="height: 40vh;">
        <canvas class="container flex mx-auto" id="myChart3" width="300" height="100"></canvas>
    </div>

    <!-- Summary -->
    <div class="relative bg-white border border-purple-600 rounded-lg shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-4">
        <h1 class="font-extrabold text-2xl md:text-3xl text-purple-500 mt-6 mr-0 mb-6 ml-0 pt-0 pr-0 pb-0 pl-0 text-center">Summary</h1>
        <p class="text-sm leading-5 mt-0 mr-0 mb-0 ml-0 pt-2 pr-2 pb-2 pl-2 text-purple-600 border border-purple-200 bg-purple-50 rounded-md">You Had Sex {{ charts.0.all_sex }} times</p>
        <p class="text-sm leading-5 mt-0 mr-0 mb-0 ml-0 pt-2 pr-2 pb-2 pl-2 text-purple-600 border border-purple-200 bg-purple-50 rounded-md">You Had Arguments {{ charts.0.all_arguments }} times</p>
        <p class="text-sm leading-5 mt-0 mr-0 mb-0 ml-0 pt-2 pr-2 pb-2 pl-2 text-purple-600 border border-purple-200 bg-purple-50 rounded-md">You Had Sex {{ charts.1.sex_past_week }} times in last 1 week</p>
        <p class="text-sm leading-5 mt-0 mr-0 mb-0 ml-0 pt-2 pr-2 pb-2 pl-2 text-purple-600 border border-purple-200 bg-purple-50 rounded-md">You Had Arguments {{ charts.2.arguments_past_week }} times in last 1 week</p>
        <p class="text-sm leading-5 mt-0 mr-0 mb-0 ml-0 pt-2 pr-2 pb-2 pl-2 text-purple-600 border border-purple-200 bg-purple-50 rounded-md">You had sex <span class="text-2xl title">{{ charts.1.sex_this_year }} times</span> and you argued <span class="text-2xl title">{{ charts.2.arguments_this_year }} times</span> this year</p>
    </div>

</div>


{% endblock content %}
