<!-- Tutorial here: https://www.youtube.com/watch?v=bI5jpueiCWw -->
<!-- HTML and CSS from here: https://jsfiddle.net/greenfoxx/cjb8kqgo/ -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
  <div class="flex flex-col justify-center items-center mx-auto bg-gradient-to-b from-white to-gray-100 py-0">
    <div class="bg-white my-6">
      <img class="h-64 w-64 rounded-full" src="{% static 'images/dudap.png' %}" alt="">
    </div>
    <h1 class="font-extrabold text-2xl md:text-3xl text-purple-500 mt-6 mr-0 mb-6 ml-0 pt-0 pr-0 pb-0 pl-0 text-center">
      Sex Counter</h1>
    <h2 class="text-lg mb-2 text-purple-700 rounded">Hello <span class="text-2xl">{{ current_user }}</span> - This is Your Sex Counter</h2>
    <h2 class="text-lg mb-2 text-purple-700 rounded">Since Inception You Have Had Sex - <span class="text-2xl">{{ sex_count }} times</span></h2>
    {% if sex_count > 0 %}
    <h2 class="text-lg mb-2 text-purple-700 rounded">Your last <span class="text-2xl">fuck</span> was on: {{ last_sex.created|date:"l, dS M Y" }}</h2>
    {% else %}
    <h2 class="text-lg mb-2 text-purple-700 rounded">Your have not had <span class="text-2xl">sex</span> yet</h2>
    {% endif %}
    <div class="flex flex-row justify-center my-12">
      <a href="{% url 'add_sex' %}" class="shadow bg-purple-600 hover:bg-purple-500 focus:shadow-outline focus:outline-none text-white font-bold rounded flex cursor-pointer mt-0 mr-2 mb-2 ml-2 pt-2 pr-4 pb-2 pl-4">I Just had Sex!</a>
      <a href="{% url 'delete_sex' %}" class="shadow bg-gray-600 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded flex cursor-pointer mt-0 mr-0 mb-2 ml-0 pt-2 pr-6 pb-2 pl-6">Oops, Wrong Entry!!</a>
    </div>
  </div>
  <div class="h-64 bg-gray-100"></div>
</section>
  
<script>
function increment () {
    axios
    .post('127.0.0.1:8000/add_sex')
    .then(response => (this.info = response))
    }
</script>


{% endblock content %}