{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center mx-auto bg-gradient-to-b from-gray-100 to-white">
  <div class="bg-white my-6">
      <img class="h-64 w-64 rounded-full" src="{% static 'images/dudap.png' %}" alt="">
  </div>

  <h1 class="font-extrabold text-2xl md:text-3xl text-purple-500 mt-6 mr-0 mb-6 ml-0 pt-0 pr-0 pb-0 pl-0 text-center">{% trans "Sign Out" %}</h1>

  <p class="text-purple-700 font-bold">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="shadow bg-purple-600 hover:bg-purple-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded flex mx-auto cursor-pointer primaryAction my-4" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>


{% endblock %}
