{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="flex flex-col justify-center items-center mx-auto bg-gradient-to-b from-gray-100 to-white">
    <div class="bg-white my-6">
        <img class="h-64 w-64 rounded-full" src="{% static 'images/dudap.png' %}" alt="">
    </div>
  
    <h1 class="font-extrabold text-2xl md:text-3xl text-purple-500 mt-6 mr-0 mb-6 ml-0 pt-0 pr-0 pb-0 pl-0 text-center">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-purple-600 my-2 mx-2">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="border border-purple-600 rounded w-full py-2 px-4 text-lg text-purple-500 shadow-sm leading-none focus:outline-none focus:ring focus:ring-purple-600 focus:ring-opacity-50 placeholder-purple-500 bg-purple-50">{{ form.as_p }}</div>
        <input type="submit" value="{% trans 'Reset My Password' %}" class="shadow bg-purple-600 hover:bg-purple-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded flex mx-auto cursor-pointer primaryAction my-4"/>
    </form>

    <p class="text-purple-600 my-2 mx-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
