{% extends 'base.html' %}
 
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center mx-auto bg-gradient-to-b from-gray-100 to-white">
    <h1 class="font-extrabold text-2xl md:text-3xl text-purple-500 mt-6 mr-0 mb-6 ml-0 pt-0 pr-0 pb-0 pl-0 text-center">Are you sure you want to delete "<span class="text-3xl md:text-4xl">{{ promise.title }}</span>"?</h1>

<form method="POST" action="" class="relative flex  px-8 pt-6 pb-8 mb-4 mx-4">
    {% csrf_token %}
    
    <input type="submit" name="Delete Discussion" value="Delete" class="shadow bg-purple-600 hover:bg-purple-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 my-2 mx-2 rounded flex mx-auto cursor-pointer">
    <div
    class="shadow bg-gray-600 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded flex cursor-pointer py-2 px-4 my-2 mx-2">
            <a href="{% url 'promises' %}" class="inline-flex mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0">Cancel</a>
    </div>
</form>
</div>
{% endblock content %}