{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- End Favicons -->
    <link href="{% static 'css/hamburgers.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" href="{% static 'css/svg.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    

    <title>Document</title>
    {% block radio_style %}{% endblock radio_style %}
    {% include 'base/css.html' %}
</head>

<body>
    <!-- Navigation -->

    <nav class="mt-0 z-50 w-full bg-white">
        <div class="flex bg-darkslategray items-center justify-between lg:justify-center px-4 h-24">
            <div class="w-48 xl:w-128 h-24 z-30">
                <a href="/"><img src="{% static 'images/dudap.png' %}" alt="" class="h-24 mx-auto hidden xl:flex" /></a>
                <a href="/"><img src="{% static 'images/dudap.png' %}" alt="" class="h-24 flex xl:hidden mx-auto flex-shrink-0" /></a>
            </div>
            <!-- Hamburger Menu for Small Screens -->
            <div id="hamburger" type="button"
                class="block text-black focus:outline-none focus:text-black hover:text-black mr-4 lg:hidden z-30">
                <div class="hamburger hamburger--spring">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
            <!-- Full Menu for Full Screen -->
            <div
                class="px-2 pt-2 pb-4 text-sm bg-white h-16 z-30 lg:flex items-center hidden lg:w-full xl:w-3/5 justify-between font-avenir text-purple-600">
                <div class="relative cl-effect-4 flex">
                    <a href="/discussions" class="rounded px-4 flex-shrink-0 mt-1">ARGUMENTS</a>
                </div>
                <div class="relative cl-effect-4 flex">
                    <a href="/lies" class="rounded px-4 flex-shrink-0 mt-1">LIES</a>
                </div>
                <div class="relative cl-effect-4 flex">
                    <a href="/promises" class="rounded px-4 flex-shrink-0 mt-1">PROMISES</a>
                </div>
                <div class="relative cl-effect-4 flex">
                    <a href="/dates" class="rounded px-4 flex-shrink-0 mt-1">IMPORTANT DATES</a>
                </div>
                <div class="relative cl-effect-4 flex">
                    <a href="/traits" class="rounded px-4 flex-shrink-0 mt-1">TRAITS</a>
                </div>
                <div class="relative cl-effect-4 flex">
                    <a href="/sex-counter" class="rounded px-4 flex-shrink-0 mt-1 text-center">SEX
                        COUNTER</a>
                </div>
                <div class="relative cl-effect-4 flex">
                    <a href="/stats" class="rounded px-4 flex-shrink-0 mt-1 text-center">STATS</a>
                </div>
                {% if user.is_authenticated %}
                <div class="relative cl-effect-4 flex">
                    <a href="/accounts/logout/"
                        class="rounded px-4 flex-shrink-0 mt-1 text-center uppercase">{{ user.username }}|LOGOUT</a>
                </div>
                {% else %}
                <div class="relative cl-effect-4 flex">
                    <a href="/accounts/login/"
                        class="rounded px-4 flex-shrink-0 mt-1 text-center">LOGIN/REGISTER</a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Menu Block under the NavBar -->
        <div id="navigation" class="px-2 pt-2 pb-4 text-lg hidden bg-white font-avenir w-full z-50 absolute">
            <a href="/discussions"
                class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 text-center uppercase">ARGUMENTS</a>
            <a href="/lies"
                class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">LIES</a>
            <a href="/promises"
                class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">PROMISES</a>
            <a href="/dates"
                class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">IMPORTANT
                DATES</a>
            <a href="/traits"
            class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">TRAITS</a>
            <a href="/sex-counter"
                class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">SEX
                COUNTER</a>
            <a href="/stats"
            class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">STATS</a>
            {% if user.is_authenticated %}
            <a href="/accounts/logout/"
            class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">{{ user.username }}|LOGOUT</a>
            {% else %}
            <a href="/accounts/login/"
                class="block text-purple-600 hover:bg-purple-600 hover:text-white rounded px-2 mt-2 text-center uppercase">LOGIN/REGISTER</a>
                {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
        {% block charts %} {% endblock charts %}
    <script type="text/javascript">
        $(document).on("click", "#hamburger", function () {
            $(".hamburger").toggleClass("is-active");
            $("#navigation").toggle();
        });
    </script>
</body>

</html>